$color-black: #000;
$color-black-2: #0a0a0a;
$color-black-3: #141414;
$color-black-4: #19161c;
$color-black-op-20: rgba(0, 0, 0, 0.2);
$color-black-op-40: rgba(0, 0, 0, 0.4);
$color-black-op-60: rgba(0, 0, 0, 0.6);
$color-blue-dark: #000508;
$color-green: #14f195;
$color-grey: #c4c4c4;
$color-grey-light: #e6e6e6;
$color-grey-dark: #848895;
$color-pink-op-30: rgba(240, 135, 255, 0.3);
$color-purple: #9945ff;
$color-purple-light: #a962ff;
$color-white: #fff;
$color-white-op-50: rgba(255, 255, 255, 0.5);
$color-gradient-blue: linear-gradient(
  260.33deg,
  #0047ff -13.37%,
  #00bcd4 109.53%
);
$color-gradient-black: linear-gradient(180deg, #19161c 0%, #000000 100%);
