$xl: '1400px';
$l: '1200px';
$m: '960px';
$s: '640px';
$xs: '360px';

$max-xl: 'max-width: ' + $xl;
$max-l: 'max-width: ' + $l;
$max-m: 'max-width: ' + $m;
$max-s: 'max-width: ' + $s;
$max-xs: 'max-width: ' + $xs;
